.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #495c75;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

.controls {
  display: flex;
  gap: 3px;
}

.topRightButtons {
  display: flex;
  gap: 12px;
}

.runButton {
  background-color: #16a34a;
  padding: 0.25rem 0.75rem;
  border-radius: 6px;
  font-size: 0.875rem;
  font-weight: bold;
  color: white;
  cursor: pointer;
  position: relative;
  transition: background-color 0.2s, transform 0.2s, box-shadow 0.2s;
}

.runButton:hover {
  /* background-color: #15803d; */
  transform: translateY(-2px);
  box-shadow: 0 4px 5px rgba(16, 185, 129, 0.2);
}

.runButton:disabled {
  background-color: #6b7280; /* Gray background when disabled */
  cursor: not-allowed;
  transform: none;
  box-shadow: none;
}

.runButton:disabled:hover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 6px;
  background: rgba(255, 255, 255, 0.1);
  pointer-events: none;
}

.stopButton {
  background-color: #dc2626;
  padding: 0.25rem 0.75rem;
  border-radius: 6px;
  font-size: 0.875rem;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.stopButton:hover {
  background-color: #b91c1c;
  transform: translateY(-2px);
  box-shadow: 0 4px 5px rgba(220, 38, 38, 0.2);
}
.stopButton:disabled {
  background-color: #6b7280; /* Gray background when disabled */
  cursor: not-allowed;
  transform: none;
  box-shadow: none;
}
.stopButton:disabled:hover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 6px;
  /* background: rgba(255, 255, 255, 0.1); */
  pointer-events: none;
}
.debugButton{
  background-color: #d97706;
  padding: 0.25rem 0.75rem;
  border-radius: 6px;
  font-size: 0.875rem;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
.debugButton:hover {
  background-color: #d97706;
  transform: translateY(-2px);
  box-shadow: 0 4px 5px rgba(251, 191, 36, 0.2);
}
.debugButton:disabled {
  background-color: #6b7280 !important; /* Gray background when disabled */
  color: #d1d5db !important;
  cursor: not-allowed !important;
  transform: none !important;
  box-shadow: none !important;
  opacity: 0.7;
  pointer-events: none; /* This prevents hover effects */
}
.debugButton:disabled:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  border: 2px solid #ff3b30;
  transform: rotate(45deg);
}
.linkButton {
  /* background-color: #e0f2fe; */
background: linear-gradient(135deg, #bae6fd 0%, #7dd3fc 100%);

  color: #013856;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  padding: 6px 12px;
  cursor: pointer;
}

.linkButton:hover {
  background-color: #bae6fd;
  /* color: #075985; */
  transform: translateY(-2px);
  box-shadow: 0 4px 5px rgba(14, 165, 233, 0.2);
}

.recordIcon {
  width: 20px;
  height: 20px;
  cursor: pointer;
  color: #f87171; /* Tailwind's red-400 */
  display: inline-flex;
}
