.reportContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    background-color: #1f2937;
    border-radius: 5px;
    height: 100vh;
    overflow-y: auto;
}

.reportHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #374151;
    /* Tailwind's gray-700 */
    border-radius: 5px;
}

.reportTitle {
    font-size: 1.25rem;
    font-weight: bold;
    color: #f3f4f6;
}

.reportContent {
    flex-wrap: wrap;
    color: #f3f4f6;
    font-size: 1rem;
    line-height: 1.6;
    background-color: #2d3748;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.reportStats {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.statCardPass {
    flex: 1 1 calc(33.333% - 15px);
    background-color: #373f49;
    color: #08da21;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    border: 2px solid #10b981;
    cursor: pointer;
}
.statCardPass:hover , .statCardFailed:hover, .statCardTotal:hover {
    background-color: #374151;
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(16, 185, 129, 0.2);
}
.statCardFailed {
    flex: 1 1 calc(33.333% - 15px);
    background-color: #373f49;
    color: #ff0000;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 2px solid #ef4444;
    cursor: pointer;
}

.statCardTotal {
    flex: 1 1 calc(33.333% - 15px);
    background-color: #373f49;
    color: #7bcbf3;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 2px solid #3b82f6;
    cursor: pointer;
}

.statCard h3 {
    font-size: 1rem;
    font-weight: bold;
}

.statCard p {
    font-size: 1rem;
    /* Standard font size for stat value */
    font-weight: normal;
}

.statValuePass {
    font-size: 1.5rem;
    /* Larger font size for value */
    font-weight: bold;
}

.statValueFailed {
    font-size: 1.5rem;
    /* Larger font size for value */
    font-weight: bold;
}

.statValueTotal {
    font-size: 1.5rem;
    /* Larger font size for value */
    font-weight: bold;
}

.statPercentage {
    font-size: 1rem;
    /* Smaller font size for percentage */
    color: #d4edda;
    /* Lighter green for percentage */
}

.statTitle {
    font-size: 1rem;
}
.homeButton {
    padding: 8px 8px;
    font-size: 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}