.testStepEditorContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: #0f172a;
  height: 350px;
  border: 1px solid #ddd;
  border-radius: 8px;
  /* Remove overflow from here */
}

.testStepEditorContainerBlank {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: #0f172a;
  height: 350px;
  border: 1px solid #ddd;
  border-radius: 8px;
  text-align: center;
  justify-content: center;
}

.tableScrollWrapper {
  overflow-y: auto;
  flex: 1;
}

.testStepHeader {
  font-size: 1.125rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: #00eaff;
}
b{
  color: #687de2; /* Tailwind's gray-200 */
}
.paraText{
  font-size: 0.875rem;
  color: #d78e26; /* Tailwind's gray-200 */
  margin-bottom: 1rem;
}
.prName {
  font-size: 1.125rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: #00fd15; /* Tailwind's gray-200 */
}
.testStepTable {
  width: 100%;
  font-size: 0.875rem;
  border-collapse: collapse;
}

.testStepTable th {
  padding: 0.5rem;
  border-bottom: 1px solid #1f2937;
  position: sticky;
  top: 0;
  background-color: #1f2937;
  /* Or any header background */
  z-index: 2;
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #ddd;
  /* border-left: 1px solid #ddd; */
}

.testStepTable td {
  padding: 0.5rem;
  border-bottom: 1px solid #1f2937;
}

.testStepInput {
  background-color: #1f2937;
  padding: 0.25rem 0.5rem;
  width: 100%;
  color: white;
  border: 1px solid #374151;
  border-radius: 0.25rem;
}

.addTestStepButton {
  margin-top: 1rem;
  background-color: #2563eb;
  padding: 0.5rem 1.25rem;
  border-radius: 0.375rem;
  color: white;
  border: none;
  font-size: 0.875rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.addTestStepButton:hover {
  background-color: #1d4ed8;
}

.saveButton {
  position: absolute;
  cursor: pointer;
  top: 5rem;
  right: 2rem;
  color: rgb(47, 47, 51);
}

.saveButton:hover,
.importButton:hover,
.copyButton:hover {
  background-color: #b9caf8;
  transform: translateY(-2px);
  box-shadow: 0 4px 5px rgba(29, 78, 216, 0.2);
}

.importButton {
  position: absolute;
  cursor: pointer;
  top: 5rem;
  right: 4rem;
  color: #eb6e25;
}

.copyButton {
  position: absolute;
  cursor: pointer;
  top: 5rem;
  right: 6rem;
  color: #2563eb;
}
thead {
  /* background-color: #1f2937; */
  color: #f5fd00; /* Tailwind's gray-200 */
}