.testStepEditorContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: #0f172a;
  height: 350px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.testStepEditorContainerBlank {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: #0f172a;
  height: 350px;
  border: 1px solid #ddd;
  border-radius: 8px;
  text-align: center;
  justify-content: center;
}

.tableScrollWrapper {
  overflow-y: auto;
  flex: 1;
}
.testStepHeader {
  font-size: 1.125rem;
  font-weight: 600;
  margin-bottom: 1rem;
  background: linear-gradient(90deg, #fbbf24 0%, #f59e0b 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #fbbf24; /* Fallback */
}

b {
  background: linear-gradient(90deg, #fb7185 0%, #f43f5e 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #fb7185; /* Fallback */
  font-weight: bold;
}

.paraText {
  font-size: 0.875rem;
  color: #f1f5f9; /* Soft white */
  margin-bottom: 1rem;
}

.prName {
  font-size: 1.125rem;
  font-weight: 600;
  margin-bottom: 1rem;
  background: linear-gradient(90deg, #22d3ee 0%, #06b6d4 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #22d3ee; /* Fallback */
}
.testStepTable {
  width: 100%;
  font-size: 0.875rem;
  border-collapse: collapse;
}

.testStepTable th {
  padding: 0.5rem;
  border-bottom: 1px solid #1f2937;
  position: sticky;
  top: 0;
  background-color: #1f2937;
  z-index: 2;
  text-align: center;
  padding: 8px;
  border-bottom: 1px solid #ddd;
  background: linear-gradient(135deg, #4f6ae2 0%, #a569e1 100%);
}

.testStepTable td {
  padding: 0.5rem;
  border-bottom: 1px solid #38475c;
  
}

.testStepInput {
  /* background-color: #091220; */
  background: linear-gradient(135deg, #293b58 0%, #384562 100%);

  padding: 0.25rem 0.5rem;
  width: 100%;
  color: white;
  border: 1px solid #374151;
  border-radius: 0.25rem;
}

.addTestStepButton {
  margin-top: 1rem;
  background-color: #2563eb;
  padding: 0.5rem 1.25rem;
  border-radius: 0.375rem;
  color: white;
  border: none;
  font-size: 0.875rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.addTestStepButton:hover {
  background-color: #1d4ed8;
}

.saveButton {
  position: absolute;
  cursor: pointer;
  top: 5rem;
  right: 2rem;
  color: rgb(47, 47, 51);
}
.datasetButton{
  position: absolute;
  cursor: pointer;
  top: 5rem;
  right: 8rem;
  color: #10b981;
}
.saveButton:hover,
.importButton:hover,
.copyButton:hover {
  background-color: #b9caf8;
  transform: translateY(-2px);
  box-shadow: 0 4px 5px rgba(29, 78, 216, 0.2);
}
.addStepButton{
  cursor: pointer;
  top: 5rem;
  right: 10rem;
  

}
.importButton {
  position: absolute;
  cursor: pointer;
  top: 5rem;
  right: 4rem;
  color: #eb6e25;
}

.copyButton {
  position: absolute;
  cursor: pointer;
  top: 5rem;
  right: 6rem;
  color: #2563eb;
}
.tagsButton{
  position: absolute;
  cursor: pointer;
  top: 5rem;
  right: 9.4rem;
  color: #f59e0b;
}
.actionButtons{
  gap: 0.5rem;
  top: 1rem;
  width: 60px;
}
.checkboxLabel {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 0.5rem;
  font-size: 0.875rem;
  color: #d1d5db; 
}
.checkboxText {
  font-size: .9rem;
  opacity: 0.8;
}
