.variableContainer {
    background-color: #f7ecec;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    height: 97vh;
}

.headerText {
    font-size: 20px;
    display: flex;
    padding-left: 10px;
}

.variableForm {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.variableInput {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
    transition: border-color 0.3s;
}

.variableInput:focus {
    border-color: #007bff;
    outline: none;
}

.saveButton {
    background: #007bff;
    padding: 10px 15px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.saveButton:hover {
    background-color: #0056b3;
}

.savedVariablesContainer {
    background: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 98%;

}
 .headerContainer{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
 }
.searchInput{
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 30%;
    box-sizing: border-box; 
    margin: 20px;
    position: absolute;
    right: 3rem;
}
.homeIcon{
    position: absolute;
    color: #ffffff;
    background-color: #007bff;
    border-radius: 6px;
    padding: 10px;
    right: 1.5rem;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}
.tableContainer{
    width: 100%;
    overflow-y: auto;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    box-sizing: border-box;
}
.tableHeader{
    background-color: #f0f0f0;
    padding: 15px;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    position: sticky;
    top: 0;
    z-index: 2;

}
.eyeButton{
    background: transparent;
    padding: 8px 12px;
    font-size: 14px;
    color: #4d60cb;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.tableScrollWrapper {
    /* max-height: 350px; */
    overflow-y: auto;
    width: 100%;
    height:70vh;

}
.tabelRow{
    padding: 10px;
    border-bottom: 1px solid #ccc;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ddd;

}
.headerTextTable{
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-right: 10px;
    color: #0056b3;
    background-color: rgb(184, 217, 233);
}
.deleteButton{
    background: #dc3545;
    padding: 8px 12px;
    font-size: 14px;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;

}
.editButton{
    background: #ffc107;
    padding: 8px 12px;
    font-size: 14px;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.actionOption{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
.tableBody{
    flex-direction: column;
    gap: 10px;
}
.valueCell{
    flex: 1;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-right: 10px;
}
.actionOption{
    border: 1px solid #ccc;
    flex: 1;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
}
